{
  "arrowParens": "always",
  "bracketSameLine": true,
  "jsxBracketSameLine": true,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 140,
  "singleQuote": true,
  "singleAttributePerLine": false,
  "semi": true,
  "trailingComma": "all",
  "tabWidth": 2
}
