<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Prevent dot files.
    RewriteRule (^\.|/\.) – [F]
</IfModule>

AddType image/svg+xml svg
AddType image/svg+xml svgz


